<nav class="bg-[#165A36] border-b">
  <div class="flex h-14 w-full items-center gap-2 px-4 max-w-screen-lg mx-auto">
    <a href="/" class="btn-ghost p-2 h-12 flex items-center justify-start">
      <img src="/book-icon-64.png" class="h-12 w-12" />
      <span class="text-3xl truncate font-bold ml-2 italic">Bookshelves</span>
    </a>
    <div class="flex-1"></div>
    <ng-container *ngIf="authService.isLoggedIn(); else notLoggedIn">
      <span><a href="/user/{{ username }}" class="btn-ghost p-2 h-12 flex items-center justify-start">{{ name ? name + ' @' + username : '@' + username }}</a></span>
      <a href="#" (click)="logout()" class="btn-outline p-2 h-8">Logout</a>
    </ng-container>
    <ng-template #notLoggedIn>
      <a href="/login" class="btn-outline p-2 h-8">Login</a>
      <a href="/register" class="btn p-2 h-8">Register</a>
    </ng-template>
  </div>
</nav>
<router-outlet />
