<main class="flex flex-col min-h-screen">
  <app-navbar></app-navbar>
  <router-outlet />
</main>

<footer class="bg-[#165A36] border-t mt-auto">
  <div class="flex h-14 w-full items-center gap-2 px-4 max-w-screen-lg mx-auto">
    <a href="/" class="btn-ghost p-2 h-12 flex items-center justify-start">
      <img src="/book-icon-64.png" class="h-12 w-12" alt="Bookshelves logo" />
      <span class="text-3xl truncate font-bold ml-2 italic">Bookshelves</span>
    </a>
    <div class="flex-1"></div>
    <p class="text-white text-sm">
      Made by <i><a href="https://dev.knightoffaith.systems/">Brad White</a></i>
    </p>
    <div class="flex-1"></div>
  </div>
</footer>
