<div class="p-4 md:p-6 max-w-screen-lg mx-auto">
  <div class="card w-full max-w-md mx-auto">
    <header>
      <h2>{{ isEdit ? 'Edit Book' : 'Add Book' }}</h2>
      <p>{{ isEdit ? 'Update the details of this book.' : 'Add a new book to your collection.' }}</p>
    </header>
    <section>
      <form class="form grid gap-4" (submit)="onSubmit()">
        <div class="grid gap-2">
          <label for="title">Title</label>
          <input id="title" type="text" [(ngModel)]="book.title" name="title" placeholder="Title" required>
        </div>
        <div class="grid gap-2">
          <label for="author">Author</label>
          <input id="author" type="text" [(ngModel)]="book.author" name="author" placeholder="Author" required>
        </div>
        <div class="grid gap-2">
          <label for="status">Status</label>
          <select id="status" [(ngModel)]="book.status" name="status" required>
            <option value="Unread">Unread</option>
            <option value="Reading">Reading</option>
            <option value="Read">Read</option>
          </select>
        </div>
        <button type="submit" class="btn w-full">Save</button>
      </form>
    </section>
  </div>
</div>