<div class="p-4 md:p-6 max-w-screen-lg mx-auto">
  <header class="mb-6">
    <h2 class="text-2xl font-bold tracking-tight">Books</h2>
    <p class="text-muted-foreground">Browse the collection of books.</p>
  </header>
  <div class="mb-4">
    <button *ngIf="authService.isLoggedIn()" (click)="openAddModal()" class="btn-outline">Add Book</button>
  </div>
  <div *ngIf="isLoading" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <div *ngFor="let i of skeletonNum" class="card w-full p-4 h-fit">
       <h2 class="text-xl font-semibold mb-2 dark:text-white">&nbsp;</h2>
        <div class="bg-accent animate-pulse rounded-md h-4 w-[150px]"></div>
        <div class="bg-accent animate-pulse rounded-md h-4 w-[180px]"></div>
        <div class="bg-accent animate-pulse rounded-md h-4 w-[100px]"></div>
        <div class="bg-accent animate-pulse rounded-md h-4 w-[40px]"></div>
        <div class="bg-accent animate-pulse rounded-md h-4 w-[100px]"></div>
    </div>
  </div>

  <div *ngIf="books.length === 0" class="text-center text-gray-500">No books available.</div>
  <div *ngIf="!isLoading && books.length > 0" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <app-book *ngFor="let book of books" [book]="book" [books]="books"></app-book>
  </div>

  <dialog id="add-book" #addBook class="dialog" aria-labelledby="add-book-title" aria-describedby="add-book-description">
    <article>
      <header>
        <h2 id="add-book-title">Add Book</h2>
        <p id="add-book-description">Add a new book to your collection.</p>
      </header>
      <form (ngSubmit)="submitAddBook()">
        <section>
          <div class="grid gap-3">
            <label for="title">Title</label>
            <input class="input" id="title" type="text" [(ngModel)]="newBook.title" name="title" placeholder="Title" required>
          </div>
          <div class="grid gap-3">
            <label for="author">Author</label>
            <input class="input" id="author" type="text" [(ngModel)]="newBook.author" name="author" placeholder="Author" required>
          </div>
          <div class="grid gap-3">
            <label for="status">Status</label>
            <app-basecoat-select [options]="statusOptions" [(selectedValue)]="newBook.status" name="status" required></app-basecoat-select>
          </div>
        </section>
        <footer class="grid gap-2 md:flex md:float-end">
          <button type="button" class="btn-outline" (click)="closeAddModal()">Cancel</button>
          <button type="submit" class="btn-primary">Update</button>
        </footer>
      </form>

      <button type="button" aria-label="Close dialog" (click)="closeAddModal()" class="cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x">
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg>
      </button>
    </article>
  </dialog>

</div>
